@import "./index.scss";

.main-header {
  background-color: rgba(0, 0, 0, 0.9);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
  .container {
    align-items: center;
    display: flex;
    justify-content: space-between;
    .logo {
      height: auto;
      margin-top: 2px;
      width: 160px;
      transition: 0.3s ease opacity;
      :hover,
      :active {
        opacity: 0.85;
      }
    }
    .main-menu {
      background-color: rgba(0, 0, 0, 0.8);
      height: 100%;
      position: fixed;
      left: 0;
      transform: translateX(-100%);
      transition: 0.3s;
      top: 0;
      width: 60%;
      z-index: 998;
      .home-menu {
        display: none;
        @include lg {
          display: initial;
        }
      }
      ul {
        margin-top: 40px;
        li {
          align-items: center;
          display: flex;
          margin: 20px 0;
          padding: 0 20px;
          a,
          a:visited {
            padding: 10px 20px;
            color: #fff;
            font-weight: 600;
            text-transform: uppercase;
          }
          a:hover,
          a:active {
            background: $main-yellow;
            color: #000;
          }
        }
      }
      @include lg {
        background: none;
        display: flex;
        margin: 0;
        position: static;
        transform: none;
        width: auto;
        ul {
          display: flex;
          margin-top: 0;
          li {
            margin: 0;
          }
        }
      }
    }
    .menu-open {
      transform: translateX(0%);
    }
    .menu-toggle {
      align-items: center;
      display: flex;
      font-size: 1.2rem;
      color: #fff;
      cursor: pointer;
      height: 100%;
      @include lg {
        display: none;
      }
    }
  }
}
