@import "./variables.scss";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: $Montserrat;
  ul {
    list-style: none;
  }
  a,
  a:visited,
  a:hover,
  a:active {
    text-decoration: none;
  }
}

::selection {
  background: $main-yellow;
  color: #000;
}

$screen-md-min: 54.8rem;
$screen-lg-min: 80rem;

@mixin md {
  @media (min-width: #{$screen-md-min}) {
    @content;
  }
}

@mixin lg {
  @media (min-width: #{$screen-lg-min}) {
    @content;
  }
}

.container {
  padding: 20px 30px;
  margin: 0 auto;
  max-width: 80rem;
  width: 100%;
}

.main-text {
  font-size: 1rem;
  font-weight: 400;
  margin: 0 auto;
  @include md {
    font-size: 1.3rem;
  }
  a, a:visited {
    color: $main-yellow;
    font-weight: 600;
  } a:hover, a:active {
    text-decoration: underline;
  }
}

.title {
  display: inline-block;
  border-bottom: 10px solid $main-yellow;
  padding-bottom: 20px;
  font-size: 1.6rem;
  letter-spacing: -0.08rem;
  margin-bottom: 40px;
  @include md {
    font-size: 2.25rem;
  }
}
