@import "./index.scss";

.page-title {
  background: url("../images/main-hero.png") no-repeat fixed;
  background-size: auto;
  padding: 120px 0 40px 0;
  h1 {
    color: $main-yellow;
    font-size: 2.6rem;
  }
}
