@import "./index.scss";

.page-title {
  background: url("../images/main-hero.png") no-repeat fixed;
  background-size: auto;
  padding: 120px 0 40px 0;
  h1 {
    color: $main-yellow;
    font-size: 2rem;
    @include md {
      font-size: 2.6rem;
    }
  }
}

.page {
  background: url("../images/bg-gradient.png") repeat-x top center;
  overflow: hidden;
  padding: 60px 0;
  .loading {
    align-items: center;
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    margin-bottom: 40px;
    img {
      margin-right: 20px;
      width: 40px;
    }
  }
  .store-front {
    height: 380px;
    margin-bottom: 40px;
    object-fit: cover;
    width: 100%;
  }
  .page-content {
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 100%;
    p {
      max-width: 52.8rem;
      font-size: 1.2rem;
      line-height: 1.6rem;
      margin-bottom: 20px;
    }
    p:last-child {
      margin-bottom: 0;
    }
  }
  .contact-form-area {
    .contact-text {
      font-size: 1.2rem;
      line-height: 1.6rem;
      margin-bottom: 40px;
    }
    align-items: center;
    display: flex;
    flex-direction: column;
    @include lg {
      align-items: flex-start;
      flex-direction: row;
      justify-content: space-between;
    }
    div:first-child {
      width: 100%;
      margin-bottom: 40px;
      @include lg {
        margin-bottom: 0x;
        padding-right: 20px;
        width: 72%;
      }
    }
    form {
      display: flex;
      flex-direction: column;
      input,
      select,
      textarea {
        background-color: #f8f8f8;
        border: 1px solid #c4c4c4;
        box-sizing: border-box;
        font-family: $Montserrat;
        font-size: 1.1rem;
        height: 60px;
        margin-bottom: 20px;
        padding: 20px;
        width: 100%;
      }
      input:focus,
      select:focus,
      textarea:focus {
        background-color: #f3f3f3;
        outline: none;
      }
      input::placeholder,
      textarea::placeholder {
        color: #000;
      }
      select {
        appearance: none;
        background-image: linear-gradient(45deg, transparent 50%, gray 50%),
          linear-gradient(135deg, gray 50%, transparent 50%);
        background-position: calc(100% - 28px) calc(28px),
          calc(100% - 20px) calc(28px);
        background-size: 8px 8px, 8px 8px, 1px 1.5em;
        background-repeat: no-repeat;
      }
      textarea {
        height: 340px;
        resize: none;
        overflow: hidden;
      }
      button {
        background-color: $main-yellow;
        border: none;
        cursor: pointer;
        font-size: 1.1rem;
        font-weight: 600;
        height: 60px;
        text-transform: uppercase;
        transition: 0.2s ease all;
      }
      button:hover,
      button:active {
        background-color: #000;
        color: #fff;
      }
    }
    .contact-list {
      li {
        align-items: flex-start;
        display: flex;
        margin-bottom: 30px;
        text-align: left;
        svg {
          color: $main-yellow;
          font-size: 1.8rem;
        }
        p {
          margin-top: 5px;
          margin-left: 20px;
        }
      }
      li:last-child {
        margin-bottom: 0;
      }
    }
  }
}

.mvv {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 40px;
  width: 100%;
  @include md {
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: row;
  }
  li {
    padding: 2.5rem;
    background-color: #f8f8f8;
    width: 100%;
    margin-bottom: 20px;
    @include md {
      margin-bottom: 0;
      width: 32%;
    }
    h2 {
      align-items: center;
      display: flex;
      text-transform: uppercase;
      margin-bottom: 20px;
      svg {
        color: $main-yellow;
        font-size: 2.4rem;
        margin-right: 15px;
      }
    }
    span {
      font-size: 1.1rem;
    }
  }
  li:last-child {
    margin-bottom: 0;
  }
}

.flex-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  .item {
    width: 100%;
  }
  @include md {
    .item {
      width: 46%;
    }
  }
}

.radio-input {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  .item {
    width: 100%;
  }
  @include md {
    .item {
      width: 46%;
    }
  }
}

.radio {
  margin-top: -20px;
  display: flex;
  label {
    margin-right: 30px;
  }
  input {
    margin-top: 10px;
    margin-right: 10px;
  }
}

.financiamento,
.venda {
  margin: 0 auto;
  max-width: 52.8rem;
  display: flex;
  flex-direction: column;
  p {
    font-size: 1.2rem;
    line-height: 1.6rem;
    margin-bottom: 20px;
  }
  form {
    display: flex;
    flex-direction: column;
    h3 {
      color: $main-yellow;
      font-size: 1.6rem;
      margin: 30px 0 20px 0;
    }
    label {
      font-size: 1rem;
      align-items: center;
      display: flex;
      margin-bottom: 10px;
      span {
        font-size: 1rem;
        font-weight: 600;
        margin-left: 10px;
      }
      @include lg {
        font-size: 1.2rem;
      }
    }
    input,
    select,
    textarea {
      background-color: #f8f8f8;
      border: 1px solid #c4c4c4;
      box-sizing: border-box;
      font-family: $Montserrat;
      font-size: 1.1rem;
      height: 60px;
      margin-bottom: 20px;
      overflow: hidden;
      padding: 20px;
      width: 100%;
    }
    input:focus,
    select:focus,
    textarea:focus {
      background-color: #f3f3f3;
      outline: none;
    }
    input::placeholder,
    textarea::placeholder {
      color: #000;
    }
    select {
      appearance: none;
      background-image: linear-gradient(45deg, transparent 50%, gray 50%),
        linear-gradient(135deg, gray 50%, transparent 50%);
      background-position: calc(100% - 28px) calc(28px),
        calc(100% - 20px) calc(28px);
      background-size: 8px 8px, 8px 8px, 1px 1.5em;
      background-repeat: no-repeat;
    }
    textarea {
      height: 340px;
      resize: none;
      overflow: hidden;
    }
    button {
      background-color: $main-yellow;
      border: none;
      cursor: pointer;
      font-size: 1.1rem;
      font-weight: 600;
      height: 60px;
      text-transform: uppercase;
      transition: 0.2s ease all;
    }
    button:hover,
    button:active {
      background-color: #000;
      color: #fff;
    }
  }
}

.map {
  width: 100%;
  iframe {
    border: none;
    height: 340px;
    width: 100%;
  }
}
