@import "./index.scss";

.vehicles {
  margin-bottom: 40px;
  .vehicles-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    li {
      box-sizing: content-box;
      position: relative;
      margin-top: 30px;
      width: 360px;
      .img-box {
        img {
          height: 280px;
          width: 100%;
          object-fit: cover;
        }
      }
      .vehicle-info {
        background-color: rgba(0, 0, 0, 0.8);
        color: #fff;
        padding: 20px 30px;
        position: absolute;
        text-align: left;
        bottom: 0;
        width: 100%;
        z-index: 990;
        h3 {
          color: $main-yellow;
          font-size: 1.3rem;
        }
        h3:hover,
        h3:active {
          text-decoration: underline;
        }
        h4 {
          font-size: 1rem;
          font-weight: 400;
          margin-top: 5px;
        }
        .details {
          border-top: 1px solid #fff;
          display: flex;
          justify-content: space-between;
          p {
            align-items: center;
            display: flex;
            font-size: 0.875rem;
            padding: 15px 0;
            svg {
              font-size: 1rem;
              margin-right: 10px;
            }
          }
        }
      }
    }
  }
  .pagination {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 4rem;
    li + li {
      margin-left: 0.5rem;
    }
    li {
      margin-top: 1rem;
      button {
        border: none;
        cursor: pointer;
        padding: 0.5rem 1rem;
      }
      button:hover,
      button:active {
        background-color: $main-yellow;
        color: #fff;
      }
      @include md {
        margin-top: 0;
      }
    }
  }
  .pagination__item--active {
    background: none;
    border: none;
    font-weight: 600;
  }
}

.total-items {
  font-size: 1.2rem;
  font-weight: 400;
  margin-bottom: 2rem;
  b {
    color: $main-yellow;
    font-weight: 600;
  }
}

.search-bar {
  margin-bottom: 1rem;
  input,
  select,
  textarea {
    background-color: #f8f8f8;
    border: 1px solid #c4c4c4;
    box-sizing: border-box;
    font-family: $Montserrat;
    font-size: 1.1rem;
    height: 60px;
    margin-top: 20px;
    padding: 20px;
    width: 100%;
  }
  input:focus,
  select:focus,
  textarea:focus {
    background-color: #f3f3f3;
    outline: none;
  }
  input::placeholder,
  textarea::placeholder {
    color: #000;
  }
}
