@import "./index.scss";

.whatsapp-button {
  align-items: center;
  background-color: #25d366;
  border: none;
  color: #fff;
  cursor: pointer;
  display: flex;
  font-family: $Montserrat;
  font-size: 1rem;
  font-weight: 600;
  height: 60px;
  @include md {
    font-size: 1.4rem;
  }
  svg {
    background-color: #075e54;
    fill: #fff;
    padding: 12px;
    height: 60px;
    width: 50px;
  }
  h2 {
    font-size: 1rem;
    font-weight: lighter;
  }
  div {
    display: flex;
    flex-direction: column;
    padding: 0 20px;
  }
}
.whatsapp-button:hover,
.whatsapp-button:active {
  filter: drop-shadow(4px 4px 5px rgba(0, 0, 0, 0.15));
}
